*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sucess{
  display: block;
  color: #000000;
  font-weight: 700;
  font-size: 2rem;
  background-color: rgba(87, 153, 90, 0.671);
  width: 32vw;
  height: 32vh;
  text-align: center;
  padding: 9%;
  border: 2px solid #c0c1c0;
  margin: 10% auto;
  border-radius: 5px;
}

.error{
display: block;
color:#000000;
font-weight: 700;
font-size: 2rem;
background-color: rgba(207, 88, 88, 0.808);
width: 32vw;
  height: 32vh;
  text-align: center;
  padding: 9%;
  border: 2px solid #c0c1c0;
  margin: 10% auto;
  border-radius: 5px;
}

.fa-regular{
cursor: pointer;
user-select: none;
margin-top: 1.5%;
}

.form-group{
display: flex;
flex-direction: column;
width: 50vw;
height: 70vh;
margin: 0 auto;
color: #fff;
}

.form-group div{
margin: 3% 0;
}

.form-group input[type=email],input[type=password],input[type=text]{
display: block;
width: 50vw;
height: 10vh;
border-radius: 5px;
border: none;
box-shadow: inset 0 0 10px rgba(0,0,0, .8);
padding-left: 10px;
outline-color: #c0c1c0;
font-size: 1rem;
}

button[type="submit"]{
display: block;
width: 25vw;
height: 10vh;
border-radius: 5px;
border: none;
background-color: #29427d;
box-shadow: inset 0 0 10px rgba(0,0,0, .8);
padding-left: 10px;
outline-color: #c0c1c0;
margin: 0 auto;
color: #fff;
font-weight: bold;
transition: all .4s ease;
font-size: 1rem;
}

button[type="submit"]:hover{
box-shadow: inset 0 0 10px rgba(215, 212, 212, 0.8);
}

form{
background-image: url("../img/back-login-640.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

dialog{
overflow: hidden;
border: none;
width: 70%;
margin: 0 auto;
}

dialog::backdrop{
background-color: rgba(0,0,0, .8);
}

dialog > div{
width: 100%;
margin: 5% auto; 
}

#openModal, #closeModal{
display: block;
margin:2% 0 0 2%;
width: 10vw;
height: 5vh;
border:2px solid #c0c1c0;
border-radius: 5px;
}

#closeModal{
float: right;
margin:2% 2% 0 0;
border-radius: 100%;
width: 30px;
height: 30px;
font-weight: bold;
}