*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button[type="submit"]{
display: inline-block;
width: 10vw;
height: 15vh;
font-weight: 700;
color: #fff;
background-color: #075f0b;
border:none;
border-radius: 5px;
}

.sucess{
  display: block;
  color:#075f0b;
  font-weight: 700;
  background-color: #57995a;
}

.error{
  display: block;
  color:#ff0000;
  font-weight: 700;
  background-color: #ce4d4d;
}